html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji
}

hr {
    height: 0;
    color: inherit
}

abbr[title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,strong {
    font-weight: bolder
}

code,kbd,pre,samp {
    font-family: ui-monospace,SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,select {
    text-transform: none
}

[type=button],button {
    -webkit-appearance: button
}

legend {
    padding: 0
}

progress {
    vertical-align: baseline
}

summary {
    display: list-item
}

blockquote,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,p,pre {
    margin: 0
}

button {
    background-color: transparent;
    background-image: none
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}

fieldset,ol,ul {
    margin: 0;
    padding: 0
}

ol,ul {
    list-style: none
}

html {
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    line-height: 1.5
}

body {
    font-family: inherit;
    line-height: inherit
}

*,:after,:before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb
}

hr {
    border-top-width: 1px
}

img {
    border-style: solid
}

textarea {
    resize: vertical
}

input::-moz-placeholder,textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
    opacity: 1;
    color: #9ca3af
}

input::placeholder,textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

button {
    cursor: pointer
}

table {
    border-collapse: collapse
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

button,input,optgroup,select,textarea {
    padding: 0;
    line-height: inherit;
    color: inherit
}

code,kbd,pre,samp {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace
}

img,video {
    max-width: 100%;
    height: auto
}

.bg-redBrand {
    --tw-bg-opacity:1;background-color: rgba(226,2,107,var(--tw-bg-opacity))
}

.bg-pink {
    --tw-bg-opacity:1;background-color: rgba(255,82,148,var(--tw-bg-opacity))
}

.bg-green {
    --tw-bg-opacity:1;background-color: rgba(92,239,114,var(--tw-bg-opacity))
}

.bg-blue {
    --tw-bg-opacity:1;background-color: rgba(69,212,222,var(--tw-bg-opacity))
}

.bg-purple {
    --tw-bg-opacity:1;background-color: rgba(163,122,255,var(--tw-bg-opacity))
}

.bg-gray {
    --tw-bg-opacity:1;background-color: rgba(238,238,238,var(--tw-bg-opacity))
}

.bg-white {
    --tw-bg-opacity:1;background-color: rgba(255,255,255,var(--tw-bg-opacity))
}

.rounded-md {
    border-radius: .375rem
}

.rounded-full {
    border-radius: 9999px
}

.border {
    border-width: 1px
}

.box-border {
    box-sizing: border-box
}

.cursor-pointer {
    cursor: pointer
}

.flex {
    display: flex
}

.block {
    display: block;
}

.table {
    display: table
}

.grid {
    display: grid
}

.hidden {
    display: none
}

.flex-row {
    flex-direction: row
}

.flex-col {
    flex-direction: column
}

.flex-wrap {
    flex-wrap: wrap
}

.items-start {
    align-items: flex-start
}

.items-end {
    align-items: flex-end
}

.items-center {
    align-items: center
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.h-0 {
    height: 0
}

.h-1 {
    height: .25rem
}

.h-12 {
    height: 3rem
}

.h-14 {
    height: 3.5rem
}

.h-16 {
    height: 4rem
}

.h-20 {
    height: 5rem
}

.h-0\.5 {
    height: .125rem
}

.h-1\.5 {
    height: .375rem
}

.h-full {
    height: 100%
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.text-lg {
    font-size: 1.125rem
}

.text-lg,.text-xl {
    line-height: 1.75rem
}

.text-xl {
    font-size: 1.25rem
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}

.text-3xl{font-size:1.875rem;line-height:2.25rem}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem
}

.m-0 {
    margin: 0
}

.my-2 {
    margin-top: .5rem;
    margin-bottom: .5rem
}

.mx-2 {
    margin-left: .5rem;
    margin-right: .5rem
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.mr-1 {
    margin-right: .25rem
}

.ml-1 {
    margin-left: .25rem
}

.mt-2 {
    margin-top: .5rem
}

.mr-2 {
    margin-right: .5rem
}

.mb-2 {
    margin-bottom: .5rem
}

.ml-2 {
    margin-left: .5rem
}

.mt-4 {
    margin-top: 1rem
}

.mb-4 {
    margin-bottom: 1rem
}

.ml-4 {
    margin-left: 1rem
}

.mt-6 {
    margin-top: 1.5rem
}

.mb-4 {
    margin-bottom: 1rem
}

.mb-6 {
    margin-bottom: 1.5rem
}

.mt-8 {
    margin-top: 2rem
}

.mt-20 {
    margin-top: 5rem
}

.mt-24 {
    margin-top: 6rem
}

.mt-28 {
    margin-top: 7rem
}

.max-w-screen-lg {
    max-width: 1024px
}

.max-w-screen-sm {
    max-width: 640px
}

.min-h-screen {
    min-height: 100vh
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover
}

.opacity-30 {
    opacity: .3
}

.opacity-40 {
    opacity: .4
}

.hover\:opacity-70:hover {
    opacity: .7
}

.p-2 {
    padding: .05rem
}

.p-4 {
    padding: 1rem
}

.py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.pt-3 {
    padding-top: .75rem
}

.fixed {
    position: fixed
}

.relative {
    position: relative
}

.top-0 {
    top: 0
}

.right-0 {
    right: 0
}

.left-0 {
    left: 0
}

* {
    --tw-shadow:0 0 transparent}

.shadow-redShadow {
    --tw-shadow:0px 0px 10px 0px #e2026b}

.shadow-pinkShadow,.shadow-redShadow {
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow)
}

.shadow-pinkShadow {
    --tw-shadow:0px 0px 10px 0px #ff5294}

.shadow-greenShadow {
    --tw-shadow:0px 0px 10px 0px #5cef72}

.shadow-blueShadow,.shadow-greenShadow {
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow)
}

.shadow-blueShadow {
    --tw-shadow:0px 0px 10px 0px #45d4de}

.shadow-purpleShadow {
    --tw-shadow:0px 0px 10px 0px #a37aff}

.shadow-md,.shadow-purpleShadow {
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow)
}

.shadow-md {
    --tw-shadow:0px 0px 5px 0px rgba(0,0,0,0.2)}

* {
    --tw-ring-inset:var(--tw-empty,/*!*/
    /*!*/
    );--tw-ring-offset-width:0px;--tw-ring-offset-color:#fff;--tw-ring-color:rgba(59,130,246,0.5);--tw-ring-offset-shadow:0 0 transparent;--tw-ring-shadow:0 0 transparent}

.text-center {
    text-align: center
}

.text-white {
    --tw-text-opacity:1;color: rgba(255,255,255,var(--tw-text-opacity))
}

.text-gray-500 {
    --tw-text-opacity:1;color: rgba(107,114,128,var(--tw-text-opacity))
}

.text-gray-600 {
    --tw-text-opacity:1;color: rgba(75,85,99,var(--tw-text-opacity))
}

.text-gray-700 {
    --tw-text-opacity:1;color: rgba(55,65,81,var(--tw-text-opacity))
}

.text-gray-800 {
    --tw-text-opacity:1;color: rgba(31,41,55,var(--tw-text-opacity))
}

.text-gray-900 {
    --tw-text-opacity:1;color: rgba(17,24,39,var(--tw-text-opacity))
}

.text-pink-500 {
    --tw-text-opacity:1;color: rgba(236,72,153,var(--tw-text-opacity))
}

.no-underline {
    text-decoration: none
}

.select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.w-12 {
    width: 3rem
}

.w-2\/4 {
    width: 50%
}

.w-1\/5 {
    width: 20%
}

.w-full {
    width: 100%
}

.z-10 {
    z-index: 10
}

.z-50 {
    z-index: 50
}

.gap-7 {
    gap: 1.75rem
}

.gap-10 {
    gap: 2.5rem
}

.transform {
    --tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1;transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.transition {
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.transition-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.ease-in-out {
    transition-timing-function: cubic-bezier(.4,0,.2,1)
}

@-webkit-keyframes spin {
    to {
        transform: rotate(1turn)
    }
}

@keyframes spin {
    to {
        transform: rotate(1turn)
    }
}

@-webkit-keyframes ping {
    75%,to {
        transform: scale(2);
        opacity: 0
    }
}

@keyframes ping {
    75%,to {
        transform: scale(2);
        opacity: 0
    }
}

@-webkit-keyframes pulse {
    50% {
        opacity: .5
    }
}

@keyframes pulse {
    50% {
        opacity: .5
    }
}

@-webkit-keyframes bounce {
    0%,to {
        transform: translateY(-25%);
        -webkit-animation-timing-function: cubic-bezier(.8,0,1,1);
        animation-timing-function: cubic-bezier(.8,0,1,1)
    }

    50% {
        transform: none;
        -webkit-animation-timing-function: cubic-bezier(0,0,.2,1);
        animation-timing-function: cubic-bezier(0,0,.2,1)
    }
}

@keyframes bounce {
    0%,to {
        transform: translateY(-25%);
        -webkit-animation-timing-function: cubic-bezier(.8,0,1,1);
        animation-timing-function: cubic-bezier(.8,0,1,1)
    }

    50% {
        transform: none;
        -webkit-animation-timing-function: cubic-bezier(0,0,.2,1);
        animation-timing-function: cubic-bezier(0,0,.2,1)
    }
}

@-webkit-keyframes animFlash {
    50% {
        opacity: 0
    }
}

@keyframes animFlash {
    50% {
        opacity: 0
    }
}

body,html {
    margin: 0;
    padding: 0;
    background: #fff;
    text-rendering: optimizelegibility;
    font-family: inter-regular,source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%23eeebf4' fill-opacity='0.4' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
    overflow-x: hidden
}

.no-scroll-bar::-webkit-scrollbar {
    display: none
}

h1 {
    letter-spacing: -2.5px;
    font-weight: 500;
    font-size: 48px;
}

h2 {
    font-weight: 200;
    font-size: 32px
}

h2,h3 {
    margin-top: 2rem;

}

h3 {
    font-size: 24px
}

h3,h4 {
    font-weight: 500
}

h4 {
    font-size: 20px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin: 8px 0;
    color: #374658
}

ul {
    list-style-type: disc;
    list-style-position: inside
}

li {
    color: #374658
}

code {
    color: #45d4de
}

pre {
    background: #222;
    padding: 1rem;
    margin-bottom: 1rem;
    overflow-x: auto
}

img {
    margin: 0 auto
}

.divider {
    background: #000
}

.previewImage {
    max-width: 480px;
    max-height: 270px
}

.previewImage img {
    height: 270px;
    width: 480px;
    -o-object-fit: cover;
    object-fit: cover
}

.animatedCursor {
    background: #ac1e54;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-left: 3px;
    -webkit-animation: animFlash 1s infinite;
    animation: animFlash 1s infinite;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
    -webkit-animation-play-state: running;
    animation-play-state: running
}

@media (min-width: 640px) {
    .sm\:grid-cols-1 {
        grid-template-columns:repeat(1,minmax(0,1fr))
    }
    
    .sm\:grid-cols-2 {
        grid-template-columns:repeat(2,minmax(0,1fr))
    }
}

@media (min-width: 768px) {
    .md\:flex-row {
        flex-direction:row
    }

    .md\:text-6xl {
        font-size: 3.75rem;
        line-height: 1
    }

    .md\:mt-0 {
        margin-top: 0
    }

    .md\:mr-4 {
        margin-right: 1rem
    }

    .md\:ml-4 {
        margin-left: 1rem
    }

    .md\:w-auto {
        width: auto
    }

    .md\:w-1\/4 {
        width: 25%
    }

    .md\:grid-cols-2 {
        grid-template-columns: repeat(2,minmax(0,1fr))
    }
}

@media (min-width: 1024px) {
    .lg\:flex-row {
        flex-direction:row
    }

    .lg\:mt-0 {
        margin-top: 0
    }

    .lg\:w-auto {
        width: auto
    }

    .lg\:w-1\/4 {
        width: 25%
    }

    .lg\:grid-cols-3 {
        grid-template-columns: repeat(3,minmax(0,1fr))
    }
}

@media (min-width: 1280px) {
    .xl\:flex-row {
        flex-direction:row
    }

    .xl\:w-auto {
        width: auto
    }
}

.blur {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.shadow {
    box-shadow: rgb(0 0 0 / 15%) 0px 10px 20px 5px;
}

.rounded {
    border-radius:.25rem
}

.form-input {
    display: block;
    border-width: 1px;
    border-color: #dae4e9;
    width: 100%;
    padding: .75rem;
    margin-bottom: 1rem;
}

.account-tab {
    display: block;
    width: 100%;
    padding: .75rem;
    border-radius:.25rem
}

.account-tab:hover {
    background-color: #38c172;
    color: #fff;
}

.account-tab:active {
    background-color: #1f9d55;
    color: #fff;
}

.form-button {
    width: 100%;
    color: #fff;
    padding: .75rem;
    margin-top: .25rem;
    margin-bottom: 1rem;
    background-color: #38c172;
}

.form-button:focus {
    outline:2px solid transparent;
}

.form-button:hover {
    background-color: #1f9d55;
}
